/$tf/
/Releases/
/Build/
obj
bin
*.vspscc
TestResults
/WSDL/
StyleCop.Cache
*.suo
*.user
/*.vssscc
/packages/
!packages/repositories.config
**/FakesAssemblies/
*.GhostDoc.xml
/Sources/WNP.Listener/ModelingProjectLib/
*.orig
CodeGeneration.Log.xml

/.vs/
